DATABASE_URL=postgres://root:mysecretpassword@localhost:5432/local
DISABLE_REGISTER=false
S3_API_URL=https://example.com
S3_ACC_ID=myaccountname
S3_TOKEN=supersecret
S3_BUCKET=mybucket
PUBLIC_S3_PUBLIC_URL=https://example.com