@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --animate-shrink: shrink 5s linear forwards;
}

@keyframes shrink {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

@theme {
  --color-body: hsl(41deg 86% 83%);
  --color-text: hsl(234deg 16% 35%);
  --color-text-inverse: hsl(220deg, 23%, 95%);
  --color-success: hsl(109deg 58% 40% / 75%);
  --color-success-text: var(--color-text-inverse);
  --color-info: hsl(220deg 91% 54% / 75%);
  --color-info-text: var(--color-text-inverse);
  --color-warning: hsl(35deg 77% 49% / 75%);
  --color-warning-text: var(--color-text-inverse);
  --color-error: hsl(347deg 87% 44% / 75%);
  --color-error-text: var(--color-text-inverse);

  --color-divider: hsl(231deg 97% 72%);
  --color-divider-text: var(--color-text-inverse);
  --color-navbar: hsl(0deg 0% 100% / 30%);
  --color-navbar-text: var(--color-text);
  --color-navbar-menu: hsl(0deg 0% 100% / 50%);
  --color-navbar-menu-text: var(--color-text);
  --color-card: hsl(0deg 0% 100% / 30%);
  --color-card-text: var(--color-text);
  --color-card-header: hsl(0deg 0 100% / 50%);
  --color-card-header-text: var(--color-text);
  --color-section: var(--color-card);
  --color-section-text: var(--color-text);
  --color-dialog: hsl(0deg 0% 100% / 50%);
  --color-dialog-text: var(--color-text);
  --color-dialog-header: hsl(0deg 0 100% / 50%);
  --color-dialog-header-text: var(--color-text);
  --color-table-hover: hsl(0deg 0% 0% / 30%);
  --color-table-hover-text: var(--color-text-inverse);

  --color-button: hsl(231deg 97% 72%);
  --color-button-text: var(--color-text-inverse);
  --color-button-hover: hsl(231deg 97% 72%);
  --color-button-hover-text: var(--color-text-inverse);
  --color-button-active: hsl(109deg 58% 40%);
  --color-button-active-text: var(--color-text-inverse);
  --color-input-label: var(--color-button);
  --color-input-label-text: var(--color-button-text);
  --color-input: hsl(0deg 0% 100% / 75%);
  --color-input-text: var(--color-text);
  --color-checkbox: var(--color-button);
  --color-checkbox-check: var(--color-button-text);
  --color-select: hsl(0deg 0% 100% / 75%);
  --color-select-text: var(--color-text);

  --color-scores-bar: hsl(231deg 97% 72%);
  --color-historytable-marked: hsl(234deg 16% 35% / 20%);
}

html[data-theme="dark"] {
  --color-body: hsl(35deg 77% 49%);
  --color-text: hsl(226deg 64% 88%);
  --color-text-inverse: hsl(240deg 21% 15%);
  --color-success: hsl(115deg 54% 76% / 75%);
  --color-info: hsl(217deg 92% 76% / 75%);
  --color-warning: hsl(41deg 86% 83% / 75%);
  --color-error: hsl(343deg 81% 75% / 75%);

  --color-divider: hsl(232deg 97% 85%);
  --color-navbar: hsl(0deg 0% 0% / 30%);
  --color-navbar-menu: hsl(0deg 0% 0% / 50%);
  --color-card: hsl(0deg 0% 0% / 30%);
  --color-card-header: hsl(0deg 0% 0% / 50%);
  --color-dialog: hsl(0deg 0% 100% / 50%);
  --color-dialog-header: hsl(0deg 0 100% / 50%);
  --color-table-hover: hsl(0deg 0% 100% / 30%);

  --color-button: hsl(232deg 97% 85%);
  --color-button-hover: hsl(231deg 97% 72%);
  --color-button-active: hsl(115deg 54% 76%);
  --color-input: hsl(0deg 0% 0% / 30%);
  --color-select: hsl(0deg 0% 0% / 30%);

  --color-scores-bar: hsl(231deg 97% 72%);
  --color-historytable-marked: hsl(234deg 16% 35% / 20%);
}

html, body {
  width: 100%;
  min-height: 100%;
  background-color: var(--color-body);
  color: var(--color-text);
}

#backdrop path.out-top {
  fill: #f38ba8;
}

#backdrop path.in-top {
  fill: #f5c2e7;
}

#backdrop path.out-bottom {
  fill: #74c7ec;
}

#backdrop path.in-bottom {
  fill: #a6e3a1;
}

html[data-theme="dark"] #backdrop path.out-top {
  fill: #d20f39;
}

html[data-theme="dark"] #backdrop path.in-top {
  fill: #ea76cb;
}

html[data-theme="dark"] #backdrop path.out-bottom {
  fill: #209fb5;
}

html[data-theme="dark"] #backdrop path.in-bottom {
  fill: #40a02b;
}

*:not([class*="transition-"]) {
  @apply transition-colors;
}